/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE       &kp N1          &kp N2    &kp N3            &kp N4          &kp N5  &kp N6     &kp N7     &kp N8                   &kp N9      &kp N0                    &kp EQUAL
&kp TAB         &kp Q           &kp W     &kp E             &kp R           &kp T   &kp Y      &kp U      &kp I                    &kp O       &kp P                     &kp MINUS
&kp BACKSPACE   &kp A           &kp S     &lt 4 D           &lt 2 F         &kp G   &kp H      &lt 3 J    &lt 5 K                  &kp L       &kp SEMI                  &kp SQT
&kp UNDERSCORE  &kp Z           &kp X     &kp C             &kp V           &kp B   &kp N      &kp M      &kp COMMA                &kp DOT     &kp FSLH                  &caps_word
&kp C_MUTE      &kp KP_NUMLOCK  &kp LALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &mo 1   &mo 1      &kp SPACE  &mt LEFT_CONTROL ESCAPE  &kp RETURN  &kp LS(LA(LC(LEFT_GUI)))
                                                                                    &kp ENTER  &kp RIGHT  &kp UP_ARROW             &kp LEFT    &kp DOWN
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol_layer {
            label = "symbol";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&studio_unlock  &kp F1             &kp F2      &kp F3                &kp F4                 &kp F5         &kp F6       &kp F7     &kp F8         &kp F9            &kp F10          &kp F11
&trans          &kp GRAVE          &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE       &kp CARET    &kp MINUS  &kp LESS_THAN  &kp GREATER_THAN  &kp PERCENT      &kp F12
&trans          &kp DOUBLE_QUOTES  &kp PERIOD  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND  &kp HASH     &kp EQUAL  &kp SLASH      &kp ASTERISK      &kp EXCLAMATION  &kp PIPE
&trans          &kp SINGLE_QUOTE   &kp COMMA   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp QUESTION   &kp AT_SIGN  &kp COLON  &kp SEMI       &kp PLUS          &kp TILDE        &trans
&trans          &trans             &trans      &trans                &trans                 &trans         &trans       &trans     &trans         &trans            &trans
                                                                                                           &kp A        &kp B      &kp C          &kp D             &kp E
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        nav_layer {
            label = "nav";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&trans  &trans          &trans                &trans            &trans  &trans  &trans     &trans    &trans    &trans     &trans      &trans
&trans  &kp K_PASTE     &kp LA(LEFT_COMMAND)  &kp LC(LEFT_ALT)  &trans  &trans  &kp PG_UP  &trans    &kp UP    &trans     &trans      &trans
&trans  &kp LEFT_SHIFT  &kp LEFT_GUI          &kp LEFT_ALT      &trans  &trans  &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp RETURN  &trans
&trans  &kp K_UNDO      &kp K_CUT             &kp K_COPY        &trans  &trans  &trans     &trans    &trans    &trans     &trans      &trans
&trans  &trans          &trans                &trans            &trans  &trans  &trans     &trans    &trans    &trans     &trans
                                                                                &kp A      &kp B     &kp C     &kp D      &kp E
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        number_layer {
            bindings = <
&trans  &trans     &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp SLASH  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp EQUAL  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PERCENT   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans     &kp PERIOD    &kp NUMBER_0  &trans        &trans        &trans  &trans  &trans  &trans  &trans
                                                                           &trans  &trans  &trans  &trans  &trans
            >;

            label = "number";
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &msc SCRL_LEFT  &trans          &msc SCRL_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans          &trans          &trans          &trans           &trans
                                                &trans          &trans          &trans          &trans           &trans
            >;

            label = "mouse";
        };

        fn_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans
            >;

            label = "fn";
        };
    };
};
